.animationWrapper {
  position: relative;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.animationPlayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Wyłączenie interakcji */
  width: 100%;
  height: 100%;
  filter: grayscale(20%) brightness(50%);
  image-rendering: crisp-edges; /* Ustawienie wygładzania obrazu na minimalne */
}

.centeredLogo {
  position: absolute;
  width: 70%;
  height: 50%;
}
.imageContainer {
  position: absolute;
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

/* Pozostałe style dla ukrywania kontrolek odtwarzacza */
.animationPlayer::-webkit-media-controls,
.animationPlayer::-webkit-media-controls-enclosure,
.animationPlayer::-webkit-media-controls-panel,
.animationPlayer::-webkit-media-controls-overlay-play-button {
  display: none; /* Ukrywanie kontrolki odtwarzacza w przeglądarkach opartych na silniku WebKit */
}

.animationPlayer::-webkit-media-controls-timeline {
  display: none; /* Ukrywanie paska przesuwania momentu w przeglądarkach opartych na silniku WebKit */
}

.animationPlayer::-moz-range-progress {
  background-color: transparent; /* Ukrywanie paska przesuwania momentu w przeglądarkach opartych na silniku Gecko (np. Firefox) */
}

.animationPlayer::-moz-range-thumb {
  pointer-events: none; /* Wyłączenie interakcji z kciukiem przesuwania w przeglądarkach opartych na silniku Gecko (np. Firefox) */
}

.animationPlayer::-ms-progress-bar {
  display: none; /* Ukrywanie paska przesuwania momentu w przeglądarkach opartych na silniku Edge/IE */
}

.animationPlayer::-ms-thumb {
  pointer-events: none; /* Wyłączenie interakcji z kciukiem przesuwania w przeglądarkach opartych na silniku Edge/IE */
}

.animationPlayer::-ms-tooltip {
  display: none; /* Ukrywanie etykiety przesuwania momentu w przeglądarkach opartych na silniku Edge/IE */
}

.animationPlayer::-ms-fill-lower,
.animationPlayer::-ms-fill-upper {
  background-color: transparent; /* Ukrywanie wypełnienia paska przesuwania momentu w przeglądarkach opartych na silniku Edge/IE */
}

@media (max-width: 1400px) {
  .imageContainer {
    width: 50%;
  }
  .animationWrapper{
    align-items: center;
  }
}

@media (max-width: 800px) {
  .imageContainer {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .imageContainer {
    width: 100%;
    height: 20%;
  }
}
