.animationWrapper {
  position: relative;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  border: solid 1px;
}

.animationPlayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Wyłączenie interakcji */
  width: 100%;
  height: 100%;
  filter:blur(10px);
}

/* Pozostałe style dla ukrywania kontrolek odtwarzacza */
.animationPlayer::-webkit-media-controls,
.animationPlayer::-webkit-media-controls-enclosure,
.animationPlayer::-webkit-media-controls-panel,
.animationPlayer::-webkit-media-controls-overlay-play-button {
  display: none; /* Ukrywanie kontrolki odtwarzacza w przeglądarkach opartych na silniku WebKit */
}

.animationPlayer::-webkit-media-controls-timeline {
  display: none; /* Ukrywanie paska przesuwania momentu w przeglądarkach opartych na silniku WebKit */
}

.animationPlayer::-moz-range-progress {
  background-color: transparent; /* Ukrywanie paska przesuwania momentu w przeglądarkach opartych na silniku Gecko (np. Firefox) */
}

.animationPlayer::-moz-range-thumb {
  pointer-events: none; /* Wyłączenie interakcji z kciukiem przesuwania w przeglądarkach opartych na silniku Gecko (np. Firefox) */
}

.animationPlayer::-ms-progress-bar {
  display: none; /* Ukrywanie paska przesuwania momentu w przeglądarkach opartych na silniku Edge/IE */
}

.animationPlayer::-ms-thumb {
  pointer-events: none; /* Wyłączenie interakcji z kciukiem przesuwania w przeglądarkach opartych na silniku Edge/IE */
}

.animationPlayer::-ms-tooltip {
  display: none; /* Ukrywanie etykiety przesuwania momentu w przeglądarkach opartych na silniku Edge/IE */
}

.animationPlayer::-ms-fill-lower,
.animationPlayer::-ms-fill-upper {
  background-color: transparent; /* Ukrywanie wypełnienia paska przesuwania momentu w przeglądarkach opartych na silniku Edge/IE */
}
