* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
    width: 100vw;
    height: 500vh;
    overflow-x: hidden;
}
.app{
    width: 100%;
    height: 100%;
}

.section--1{
  width: 100vw;
    height: 100vh;
}

.navbar{
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 1;
  
}
.background{
height: 100%;
z-index: -1;
position: relative;
}