.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
}

.header{
  margin-top: auto;
}


.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}
.phone {
  width: 50%;
}
.email {
  width: 50%;
}
.linkedin {
  width: 50%;
}

@media (max-width: 767px) {
  .logo {
    width:70%;
  }
  p {
    font-size: 12px;
  }
}


@media (max-width: 1300px) {
  .logo {
    width:60%;
  }
  p {
    font-size: 12px;
  }
}
